In [ ]:
# import pandas and numpy libraries

In [1]:
import pandas as pd
import numpy as np

In [ ]:
# 1) Create a series 'val_series' with using the following 'values' array:
# values = [2, 5, 3, 10]

In [3]:
values = [2, 5, 3, 10]

In [5]:
ser1 = pd.Series(values)
ser1

0     2
1     5
2     3
3    10
dtype: int64

In [ ]:
# 2-a) Create a dataframe 'rand_df' with 5 rows and 3 columns with values from the random normal distribution
# 2-b) Read 4th row
# 2-c) Read 2nd column

In [57]:
df = pd.DataFrame(np.random.randn(5,3))
df

          0         1         2
0 -1.336428  0.510677  0.119201
1 -0.017482  0.344696  0.114628
2  1.275931  0.148372 -0.808896
3 -1.273308 -0.958415 -0.420638
4  1.078692  0.420870  0.798804

In [108]:
df.iloc[3]

0   -1.273308
1   -0.958415
2   -0.420638
Name: 3, dtype: float64

In [110]:
df.iloc[:, 1]

0    0.510677
1    0.344696
2    0.148372
3   -0.958415
4    0.420870
Name: 1, dtype: float64

In [ ]:
# 3-a) Create a dataframe 'color_random' using the following statement
# color_random = pd.DataFrame(np.random.randn(4,6), ['Red','Blue','Green','Yellow'], ['a','b','c','d','e','f'])
# 3-b) Read the value at 'Blue' row and 'd' column
# 3-c) Read the values from Green to Yellow and from b to e

In [73]:
color_random = pd.DataFrame(np.random.randn(4,6), ['Red','Blue','Green','Yellow'], ['a','b','c','d','e','f'])
color_random

               a         b         c         d         e         f
Red    -0.086584 -0.440017 -0.282030 -0.250853  0.115280  1.213942
Blue   -0.356272  0.440742  0.168351 -0.074135  0.578725 -0.767808
Green   0.547114  0.575924 -1.084303  0.542686 -1.775325 -0.292693
Yellow -1.049029 -1.152418 -1.106370  1.525224  0.190712 -0.870917

In [113]:
color_random[1:2].d

Blue   -0.074135
Name: d, dtype: float64

In [115]:
color_random.loc['Blue','d']

-0.07413532558547573

In [96]:
color_random['Green':'Yellow'][['b', 'c', 'd','e']]

               b         c         d         e
Green   0.575924 -1.084303  0.542686 -1.775325
Yellow -1.152418 -1.106370  1.525224  0.190712

In [119]:
color_random.loc['Green':'Yellow', 'b':'e']

               b         c         d         e
Green   0.575924 -1.084303  0.542686 -1.775325
Yellow -1.152418 -1.106370  1.525224  0.190712

In [ ]:
# 4-a) Create a dataframe from the file 'AAPL_data.csv' - provided in course resources
# 4-b) show max, min and average volume

In [97]:
aapl = pd.read_csv('pandas-AAPL_data.csv')

In [103]:
aapl['volume'].max()

51105090

In [104]:
aapl['volume'].min()

18667729

In [106]:
aapl['volume'].mean()

31413306.666666668

In [107]:
aapl['volume'].describe()

count    2.100000e+01
mean     3.141331e+07
std      9.526654e+06
min      1.866773e+07
25%      2.395990e+07
50%      2.956595e+07
75%      3.438684e+07
max      5.110509e+07
Name: volume, dtype: float64